/* Remove padding and margin */ 
*{ 
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
  border: 0; 
}

body{
  overflow: hidden; /* Disable scroll */
  display: flex;
  height: 100%;
  min-height: 100vh;
  font-family: 'Cantata One', serif;
  text-rendering: optimizeLegibility;
  color: #ffffff;
  background-color: #0F141E;
  max-width: calc(100vw - 90px);
}

h1, h2, h3, h4, h5, h6, p{
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

a{
  text-decoration: none;
  color: #ffffff;
}

/* NAV */
nav{
  position: fixed;
}

.navClose, .navClose .icon, .navClose:hover .icon, .navClose .text, .navClose:hover .text{
  transition: .5s;
}

.navClose:hover, .navClose:hover ~ .navOpen {
  transform: translateX(20px);
  transition: .5s;
}

.navClose{
  position: relative;
  left: -20px;
  width: 110px;
  cursor: pointer;
  background-color: #B8747F;
}

.navClose .nav{
  position: relative;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  width: 90px;
  height: 100vh;
}

.navClose .icon, .navClose .text{
  transform: rotate(180deg);
}

.navClose:hover .icon {
  transform: rotate(270deg) translateY(8px);
}

.navClose .line{
  float: left;
  clear: left;
  height: 1.7px;
  background-color: #ffffff;
}

.navClose .line:nth-child(1){
  width: 13px;
}

.navClose .line:nth-child(2){
  width: 23px;
  margin: 5px 0;
}

.navClose .line:nth-child(3){
  width: 18px;
}

.navClose:hover .text{
  transform: rotate(270deg) translatex(-36px) translateY(-30px);
}

.navClose .text{
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .7rem;
  writing-mode:vertical-lr;
  padding: 12px 2px 0 2px;
}

/* Nav Open */
.navOpen{
  transition: .5s;
  /* display: none; */
  z-index: -1;
  position: relative;
  top: -100vh;
  left: 90px;
  width: calc(48vw - 90px);
  height: 100vh;
  background-color: #B8747F;
  border-right: 2px solid white;
}

.open{
  left: calc(-48vw + 182px);
}

.navOpen .linkIn{
  width: 100%;
  height: 90%;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.linkIn a{
  margin: 20px 0;
}

.navOpen .linkOut{
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
/* Nav Open */

/* NAV */


/* HEADER */
header{
  height: 100vh;
  width: 100%;
  margin-left: 90px;
}

.centerElements{
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerElements h2{
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-top: 40px;
}

.centerElements .icon{
  position: absolute;
  top: 97%;
}

/* Grid Container */
.gridContainer{
  display: grid;
  grid-template-columns: 50% 50%;
  height: calc(100% - 63px);
}

.item1{
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: start;
  padding-left: 4.5rem;
  margin-top: -63px;
}

h1{
  width: 100%;
  font-size: 32px;
  flex-wrap: wrap;
  line-height: 41px;
}

.item1 p{
  font-size: 18px;
  margin-top: 1rem;
  flex-wrap: wrap;
  max-width: 80%;
}

.item2{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.kintaro{
  width: 80%;
  margin-right: 8rem;
}

/* Animated text */
.textAnimation{
  text-transform: uppercase;
  writing-mode:vertical-lr;
}

.textAnimation p, .textAnimation span{
  position: absolute;
  top: 0;
  height: 100vh;
}

.textAnimation .line{
  left: calc(87vw);
  width: 2px;
  height: 100vh;
  background-color: #ffffff;
}
.textAnimation span:first-of-type{
  margin-left: -2px;
}

.textAnimation p{
  font-size: 96px;
  white-space: nowrap;
  height: 1900px; /* To adjust according to the text */
  max-width: 110px;
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
  letter-spacing: 0.3rem;
}

.textAnimation .slideUp{
  left: calc(87vw - 110px);
}

.textAnimation .slideUp1{
  animation: 20s linear infinite slideUp;
}

.textAnimation .slideUp2{
  animation: 20s linear infinite -10s slideUp;
}

@keyframes slideUp {
  from{
    transform: translateY(100%) rotate(180deg);
  }
  to{
    transform: translateY(-100%) rotate(180deg);
  }
}

.textAnimation .slideDown{
  left: calc(87vw);
}

.textAnimation .slideDown1{
  animation: 20s linear infinite slideDown;
}

.textAnimation .slideDown2{
  animation: 20s linear infinite -10s slideDown;
}

@keyframes slideDown {
  from{
    transform: translateY(-100%);
  }
  to{
    transform: translateY(100%);
  }
}

/* HEADER */