/* Remove padding and margin */ 
*{ 
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
  border: 0; 
}

body{
  display: flex;
  height: 100%;
  min-height: 100vh;
  font-family: 'Cantata One', serif;
  text-rendering: optimizeLegibility;
  color: #ffffff;
  background-color: #0F141E;
  max-width: calc(100vw - 90px);
}

h1, h2, h3, h4, h5, h6, p{
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

a{
  text-decoration: none;
  color: #ffffff;
}

/* NAV */
nav{
  position: fixed;
}

.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  width: 90px;
  height: 100vh;
  background-color: #B8747F;
  border-right: 2px solid white;
}

.nav .icon{
  transform: rotate(180deg);
  cursor: pointer;
}

.nav .line{
  float: left;
  clear: left;
  height: 1.7px;
  background-color: #ffffff;
}

.nav .line:nth-child(1){
  width: 13px;
}

.nav .line:nth-child(2){
  width: 23px;
  margin: 5px 0;
}

.nav .line:nth-child(3){
  width: 18px;
}

.nav .text{
  cursor: pointer;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1rem;
  writing-mode:vertical-lr;
  transform: rotate(180deg);
  padding: 12px 2px 0 2px;
}
/* NAV */

/* NAV-OPEN */
.navOpen{
  display: none;
  position: fixed;
  top: 0;
  /*left: 90px;*/
  left: calc(-48vw + 240px);
  width: calc(48vw - 90px);
  height: 100vh;
  background-color: #B8747F;
  border-right: 2px solid white;
}

.navOpen .linkIn{
  width: 100%;
  height: 90%;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.linkIn a{
  margin: 20px 0;
}

.navOpen .linkOut{
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* NAV-OPEN */


/* HEADER */
header{
  height: 100vh;
  width: 100%;
  margin-left: 90px;
}

.centerTitle{
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerTitle h2{
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-top: 40px;
}

.centerTitle .icon{
  position: absolute;
  top: 97%;
}

.gridContainer{
  display: grid;
  grid-template-columns: 50% 50%;
  height: calc(100% - 63px);
}

.item1{
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: start;
  padding-left: 4.5rem;
  margin-top: -63px;
}

h1{
  width: 100%;
  font-size: 32px;
  flex-wrap: wrap;
  line-height: 41px;
}

.item1 p{
  font-size: 18px;
  margin-top: 1rem;
  flex-wrap: wrap;
  max-width: 80%;
}

.item2{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.kintaro{
  width: 80%;
  margin-right: 8rem;
}

.textAnimation{
  position: absolute;
  top: 0;
  left: calc(87vw - 90px);
  height: 100vh;
  text-transform: uppercase;
  writing-mode:vertical-lr;
}

.textAnimation p:first-child{
  transform: rotate(180deg);
}

.textAnimation p{
  font-size: 96px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  height: 100%;
  max-width: 110px;
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
  letter-spacing: 0.3rem;
}

.textAnimation .line{
  width: 2px;
  height: 100vh;
  float: left;
  background-color: #ffffff;
}
/* HEADER */